<!DOCTYPE html>
<head>
  <script src="/public/js/jquery.min.js"></script>
  <%- include('../partials/header'); %>
</head>

<navbar>
  <%- include('../partials/nav'); %>
</navbar>

<body>
    <div class="container">
        <p>
            404!
        </p>
        <p>
            Sorry Couldn't find what your are looking for....
        </p> 
    </div>
</body>

<%- include('../partials/js'); %>