<!DOCTYPE html>
<head>
  <script src="/public/js/jquery.min.js"></script>
  <%- include('../partials/header'); %>
</head>

<navbar>
  <%- include('../partials/nav'); %>
</navbar>

<body>
    Stuff will be coming soon....   
</body>

<%- include('../partials/js'); %>